<ion-tabs slot="bottom" class="tabs-icon-bottom tabs-darktabs-color-active-light">
  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Tasks Tab -->
  <ion-tab title="Tasks" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/tasks/startCategories">
    <ion-nav-view name=" tab-tasks">
    </ion-nav-view>
  </ion-tab>

  <!-- Assessments Tab -->
  <ion-tab title="Assessments" icon-off="ion-android-checkmark-circle" icon-on="ion-android-checkmark-circle"
    href="#/tab/assessments">
    <ion-nav-view name="tab-assessments"></ion-nav-view>
  </ion-tab>

  <!--Statistics tab-->
  <ion-tab title="Statistics" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/statistics">
    <ion-nav-view name="tab-statistics"></ion-nav-view>
  </ion-tab>

</ion-tabs>
